// @use "../../utilities/settings";
@use "lexical";

.lexical {
  &__dropdown {
    z-index: 10;
    // display: block;
    display: none;
    position: fixed;
    // box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0,20,60,.1) 0px 13px 27px -5px, rgba(0,20,60,.2) 0px 8px 16px -8px;
    border-radius: 3px;
    min-height: 40px;
    background-color: #fff;

    .item {
      margin: 0 8px 0 8px;
      padding: 8px;
      color: #050505;
      cursor: pointer;
      line-height: 16px;
      font-size: 14px;
      display: flex;
      align-content: center;
      align-items: center;
      flex-direction: row;
      flex-shrink: 0;
      justify-content: space-between;
      background-color: #fff;
      border-radius: lexical.$lexical-button-border-radius;
      border: 0;
      max-width: 250px;
      min-width: 100px;
      &.fontsize-item {
        width: -webkit-fill-available;
      }
      &.fontsize-item, &.fontsize-item .text {
        min-width: unset;
      }
      .active {
        display: flex;
        width: 20px;
        height: 20px;
        background-size: contain;
      }
      &:first-child {
        margin-top: 8px;
      }
      &:last-child {
        margin-bottom: 8px;
      }
      &:hover {
        background-color: lexical.$lexical-button-hover;
      }
      .text {
        display: flex;
        line-height: 20px;
        flex-grow: 1;
        min-width: 150px;
        color: black;
      }
      .icon {
        display: flex;
        width: 16px;
        height: 16px;
        user-select: none;
        margin-right: 12px;
        line-height: 12px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .divider {
      width: auto;
      background-color: #eee;
      margin: 4px 8px;
      height: 1px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .dropdown-button-text {
    display: none !important;
  }

  .font-size .dropdown-button-text {
    display: flex !important;
  }

  .code-language .dropdown-button-text {
    display: flex !important;
  }
}